.NavBar {
    background: #A0EEC0;
}

.nav-link.active {
    color: #d4e9e0 !important;
    background: #666B6A !important;
}

img {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    padding: 2px;
    margin: 5px;
}

.nav-link:hover {
    background-color: #72A276;
}

.nav-link {
    margin: 5px;
}